#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  height: 500px;
  width: 500px;
  gap: 10px;
}
.dict {
  display: flex;
  gap: 10px;
}
.dict input {
    flex: 1;
}
#button {
  background-color: rgb(126, 87, 255);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
}
input {
      border-radius: 5px;
      border: 1px solid rgb(154, 154, 154);
        padding: 12px 20px;


}
.count {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.count  h1,
.count p {
    margin: 0;
    padding: 0;
}